<%= content_for(:title) do %>
  Visa Countdown
<% end %>

<%= content_for(:description) do %>
  The Schengen area and Turkey are among the countries in which many foreigners can stay with a tourist visa for 90 days in ANY 180 days period. Calculate when you must leave or when you can re-enter.
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h4>Guest User</h4>
      <p>
        <strong>citizenship:</strong> <%= @user.citizenship %>
        <%= link_to edit_user_path(@user) do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      </p>
      <%= link_to "Add period", new_period_path %>
    </div>
    <% @user.destinations.each do |destination| %>
      <div class="col-lg-4">
        <h2><%= destination %></h2>

        <ul class="list-group">
          <li class="list-group-item">
            <% if destination.latest_entry && destination.latest_entry <= Date.current %>
              <div class="row">
                <div class="col-xs-4">
                  <small><%= date_format(destination.latest_entry) %></small>
                </div>
                <div class="col-xs-4 text-center">
                  <span style="font-size: 2em;"><%= (Date.current - destination.latest_entry).to_i + 1 %></span> <small style="font-size: 0.7em">days</small>
                  <p>
                    <small style="font-size: 0.7em"><%= link_to 'Edit latest entry', edit_destination_path(destination) %></small>
                  </p>
                </div>
                <div class="col-xs-4 text-right">
                  <small>ongoing</small>
                </div>
              </div>
            <% elsif destination.latest_entry && destination.latest_entry > Date.current %>
              <div class="row">
                <div class="col-xs-4">
                  <small><%= date_format(destination.latest_entry) %></small>
                </div>
                <div class="col-xs-4 text-center">
                  <span style="font-size: 2em;">Planned</span> <small style="font-size: 0.7em"></small>
                  <p>
                    <small style="font-size: 0.7em"><%= link_to 'Edit latest entry', edit_destination_path(destination) %></small>
                  </p>
                </div>
              </div>
            <% else %>
              <div class="row text-center">
                <small><%= link_to 'Add latest or planed entry', edit_destination_path(destination) %></small>
              </div>
            <% end %>
          </li>

          <% destination.periods.each do |period| %>
            <%= render 'periods/one_period', period: period %>
          <% end %>
          <li class="list-group-item">
            <div class="row text-center">
              <small><%= link_to 'Add a period', new_period_path %></small>
            </div>
          </li>
        </ul>

        <%= user_policy_for(destination) %>

        <% if destination.countdown %>
          <%= display_countdown(destination.countdown) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>