<%= simple_form_for(period, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_day, label: "Entry Date", as: :string, input_html: {class: "first_day"} %>
    <%= f.input :last_day, label: "Exit Date", as: :string, input_html: {class: "last_day"} %>

    <%= f.button :submit, "Add", class: "btn btn-success" %>
    <i class="fa fa-plus"></i>
  </div>

<% end %>
