<% first_day = period.first_day.strftime("%B %d, %Y") if period.first_day %>
<% last_day = period.last_day.strftime("%B %d, %Y") if period.last_day %>

<% if period.id %>
  <% id = period.id %>
  <% button = "" %>
  <% submit = "Edit" %>
<% else %>
  <% id = 0 %>
  <% button = "btn-block" %>
  <% submit = "Add" %>
<% end %>

<%= simple_form_for(period, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_day, label: "Entry Date", label_html: {class: "sr-only"}, as: :string, input_html: {id: "period-#{id}-first-day", class: "first_day input-sm", value: first_day, required: "required"}, placeholder: "Entry Date" %>
    <%= f.input :last_day, label: "Exit Date", label_html: {class: "sr-only"}, as: :string, input_html: {id: "period-#{id}-last-day", class: "last_day input-sm", value: last_day, required: "required"}, placeholder: "Exit Date" %>

    <button id="period-#{id}-submit" type="submit" class="btn <%= button %> btn-sm btn-success stay_submit" disabled="disabled"><i class="fa fa-check fa-fw"></i> <%= submit %></button>
  </div>

<% end %>
