<li class="list-group-item">
  <div class="row vertical-align">
    <div class="top-right">
      <% if period %>
        <%= link_to period, method: :delete do %>
          <i class="fa fa-times"></i>
        <% end %>
      <% elsif destination %>
        <%= simple_form_for(destination, url: set_latest_entry_destination_path(destination)) do |f| %>
            <%= f.input :latest_entry, as: :hidden, input_html: { value: "" } %>
            <button class="btn btn-ghost" type="submit"><i class="fa fa-times"></i></button>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-4">
      <span class="text-small"><%= start %></span>
    </div>
    <div class="col-xs-4 text-center">
      <span class="text-large"><%= count %></span> <span class="text-small">days</span>
    </div>
    <div class="col-xs-4 text-right">
      <span class="text-small"><%= stop %></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <span class="text-small">
        <% if period %>
          <%= link_to 'Edit', edit_period_path(period) %>
        <% else %>
          <%= link_to 'Edit latest entry', edit_destination_path(destination) %>
        <% end %>
      </span>
    </div>
  </div>
</li>