<p id="notice"><%= notice %></p>

<h1>Listing Periods</h1>

<table class="table tablebordered table-condensed">
  <thead>
    <tr>
      <th>User</th>
      <th>First day</th>
      <th>Last day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= period.user %></td>
        <td><%= period.first_day %></td>
        <td><%= period.last_day %></td>
        <td><%= link_to 'Show', period %></td>
        <td><%= link_to 'Edit', edit_period_path(period) %></td>
        <td><%= link_to 'Destroy', period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
time spent: <%= current_or_guest_user.time_spent(Date.today) %>
<br>
remaining time: <%= current_or_guest_user.remaining_time %>
<br>
You must leave on <%= current_or_guest_user.latest_exit %> or before
<br>

<%= link_to 'New Period', new_period_path %>

<!-- All Stays from connected user -->
<% if user_signed_in? %>
  <h4>All your stays</h4>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>First day</th>
        <th>Last day</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% current_or_guest_user.periods.each do |p| %>
        <tr>
          <td><%= p.first_day %></td>
          <td><%= p.last_day %></td>
          <td><%= link_to 'Show', p %></td>
          <td><%= link_to 'Edit', edit_period_path(p) %></td>
          <td><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

