<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @period.destination.user %>
</p>

<p>
  <strong>First day:</strong>
  <%= @period.first_day %>
</p>

<p>
  <strong>Last day:</strong>
  <%= @period.last_day %>
</p>

<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
