<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2>Change your password</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.input :reset_password_token, as: :hidden  %>

        <%= f.label :password, "New password" %>
        <%= f.input :password, label: false %>

        <%= f.label :password_confirmation, "Confirm new password"%>
        <%= f.input :password_confirmation, label: false %>

        <%= f.button :submit, "Change my password", class: "btn btn-primary" %>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
