<!-- <div id="new-<%= id %>" data-emptyid="<%= id %>" class="row form-inputs">
  <div class="col-xs-5 table-padded">
    <div class="form-group">
      <%= text_field_tag "resource[first_day][]", nil, options = {id: "period-empty-#{id}-first-day", class: "form-control first_day input-sm", placeholder: "Entry Date", value: first_day} %>
    </div>
  </div>
  <div class="col-xs-5 table-padded">
    <div class="form-group">
      <%= text_field_tag "resource[last_day][]", nil, options = {id: "period-empty-#{id}-last-day", class: "form-control last_day input-sm", placeholder: "Exit Date", value: last_day} %>
    </div>
  </div>

  <div class="col-xs-2 table-padded">
    <%= link_to "#", class: "btn btn-success btn-block btn-sm add-row" do %>
      <i class="fa fa-plus"></i>
    <% end %>
  </div>
</div> -->

<div id="new-<%= id %>" data-emptyid="<%= id %>" class="row form-inputs">
  <div class="col-xs-12 table-padded">
    <div class="input-group input-group-sm form-group">
      <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
      <%= text_field_tag "resource[range][]", nil, options = {id: "period-empty-#{id}-range", class: "form-control date_range input-sm", placeholder: "MM/DD/YY - MM/DD/YY", required: "required"} %>
      <span class="input-group-btn">
        <button class="btn btn-success btn-sm add-row" type="button"><i class="fa fa-plus"></i></button>
      </span>
    </div><!-- /input-group -->
  </div>
</div>