<%= content_for(:title) do %>
  Days in Turkey
<% end %>

<%= content_for(:description) do %>
  With a tourist visa you can stay in Turkey 90 days every 180 days. When should you leave? Make the math!
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">

      <h4>Turkey Clock: <%= @time_now %></h4>

        <!-- All previous stays -->
        <strong>Please enter all your stays in Turkey since <%= @oldest_date %> included</strong>
        <div id="all_stays">
          <table class="table tablebordered table-condensed">
            <thead>
              <tr>
                <td>Entry Date</td>
                <td>Exit Date</td>
                <td>Number of Days</td>
              </tr>
            </thead>
            <tbody>
              <%= render "periods/all_periods", periods: @periods %>
            </tbody>
          </table>
          <div id="new_period_form">
            <%= render "periods/form", period: Period.new() %>
          </div>
        </div>
        <!-- All previous stays -->


        <%= form_for(@user, url: users_latest_entry_path) do |f| %>
          <div class="form-group">
            <div class="checkbox">
            <strong>Are you in Turkey right now?</strong>
              <%= f.check_box :is_in_turkey, {id: "in_turkey", class: "cmn-toggle-yes-no"}, "Yes", "No" %>
              <label for="in_turkey" data-on="Yes" data-off="No"></label>
            </div>
          </div>
          <div class="form-group" id="inside_last_entry">
            <label for="last_entry">Latest/Planned Entry</label>
            <%= f.text_field :latest_entry, id: "user_last_entry", class: "form-control first_day", placeholder: "Click to Select", value: @latest_entry %>
          </div>
          <button type="submit" class="btn btn-success">Calculate</button>
        <% end %>
        <!-- User is in? -->

        <br>
        time spent: <span id="time_spent"><%= @user.time_spent(Time.zone.now.to_date) %></span>
        <br>
        remaining time: <span id="remaining_time"><%= @user.remaining_time %></span>
        <br>
        You must leave on <span id="leave_on"><%= @user.latest_exit %></span> or before
        <br>

    </div>
  </div>
</div>