<%= content_for(:title) do %>
  Visa Countdown
<% end %>

<%= content_for(:description) do %>
  The Schengen area and Turkey are among the countries in which many foreigners can stay with a tourist visa for 90 days in ANY 180 days period. Calculate when you must leave or when you can re-enter.
<% end %>

<div class="container-fluid">

  <!-- Results -->
  <% if @user.latest_entry %>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <h2 class="xs-marged mini-padded">Your Countdown</h2>
        <div id="results" class="mini-padded text-center">

          <p>
            In the last 180 days, you spent <strong><%= @time_spent_today %></strong> days inside <%= @user.destination == "Turkey" ? "" : "the " %><%= @user.destination %>
          </p>

          <% case @situation %>
          <%   when "inside_ok" %>
            <p>You entered on <strong><%= @latest_entry %></strong></p>
            <p>You can stay <strong><%= @remaining_time %></strong> more days</p>
            <p class="text-large bg-green">You must leave on <strong><%= @leave_on %></strong> or before</p>
          <%   when "outside_ok" %>
            <p>You plan to enter on <strong><%= @latest_entry %></strong></p>
            <p>You will be able to stay: <strong><%= @remaining_time %></strong> days</p>
            <p class="text-large bg-green">You will have to leave on <strong><%= @leave_on %></strong> or before</p>
          <%   when "in_period" %>
            <p>You plan to enter on <strong><%= @latest_entry %></strong></p>
            <p>You will be able to stay: <strong><%= @remaining_time %></strong> days</p>
            <p class="text-large bg-green">You will have to leave on <strong><%= @leave_on %></strong> or before</p>
          <%   when "current_too_long" %>
            <p>You want to enter on <strong><%= @latest_entry %></strong></p>
            <p>Your plans won't work. You are currently inside <%= @user.destination == "Turkey" ? "" : "the " %><%= @user.destination %> and plan to leave on <%= @user.current_period.last_day.strftime("%d %b %Y") %>, this is too long, you will be in overstay. You can only stay <strong><%= @remaining_time %></strong> more days</p>
            <p class="text-large bg-green">You must leave on <strong><%= @leave_on %></strong> or before</p>
          <%   when "one_next_too_long" %>
            <p>You want to enter on <strong><%= @latest_entry %></strong></p>
            <p>Your plans won't work. You plan a stay from <strong><%= @problem_period.first_day.strftime("%d %b %Y") %></strong> to <strong><%= @problem_period.last_day.strftime("%d %b %Y") %></strong>: this is too long, you will be in overstay. You can only stay <strong><%= @remaining_time %></strong> more days.</p>
            <p class="text-large bg-green">You must leave on <strong><%= @leave_on %></strong> or before</p>
          <%   when "overstay" %>
            <p class="marged bg-red text-large"><i class="fa fa-exclamation-triangle fa-2x pull-left"></i><strong> You are in overstay! Get out of here as soon as you can to avoid paying more penalty!</strong></p>
          <%   when "quota_used" %>
            <p>You used your quota of days. Next time you can enter is on <strong><span><%= @next_entry.strftime("%d %b %Y") %></span></strong>.

              <% if !@can_enter %>
                You would be able to stay <strong><%= @remaining_time %></strong> days and would have to leave on <strong><%= @leave_on %></strong> or before.
              <% end %>
            </p>

            <p>You plan to enter on <strong><%= @latest_entry %></strong> which is
              <% if @can_enter %>
                <span class="label label-success">OK</span>
                </p>
                <p>You will be able to stay <strong><%= @remaining_time %></strong> days.</p>
                <p class="text-large bg-green">You will have to leave on <strong><%= @leave_on %></strong> or before</p>
              <% else %>
                <span class="label label-danger">NOT OK</span>
                <p class="text-large bg-red">You will be denied entry</p>
              <% end %>
            </p>
          <%   when "quota_will_be_used" %>
            <p>You plan a stay from <strong><%= @period.first_day.strftime("%d %b %Y") %></strong> to <strong><%= @period.last_day.strftime("%d %b %Y") %></strong>. After this one, your quota of 90 days will be used. Next time you can enter is on <strong><span><%= @next_entry.strftime("%d %b %Y") %></span></strong>.

              <% if !@can_enter %>
                You would be able to stay <strong><%= @remaining_time %></strong> days and would have to leave on <strong><%= @leave_on %></strong> or before.
              <% end %>
            </p>

            <p>You plan to enter on <strong><%= @latest_entry %></strong> which is
              <% if @can_enter %>
                <span class="label label-success">OK</span>
                </p>
                <p>You will be able to stay <strong><%= @remaining_time %></strong> days.</p>
                <p class="text-large bg-green">You will have to leave on <strong><%= @leave_on %></strong> or before</p>
              <% else %>
                <span class="label label-danger">NOT OK</span>
                <p class="text-large bg-red">You will be denied entry</p>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <!-- Results -->

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
      <div class="text-center">
        <strong><%= link_to t(".back_calculator", default: "Back to calculator"), welcome_calculator_path %></strong>
      </div>
    </div>
  </div>

  <% unless user_signed_in? %>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <div class="text-center mini-padded">
          <%= link_to t(".save", default: "Save your countdown"), new_user_registration_path, class: "btn btn-danger btn-lg" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

      <div id="disclaimer" class="marged bg-info">
        <small>
          <p><strong>Disclaimer</strong></p>
          <p>With our Visa Countdown calculator, you can enter all the information about your past and projected trip days, and figure out if you are following the rules and not overstaying on your trips in the Schengen area or Turkey.</p>

          <p>This calculator does not take into account visa expiration. If you need a visa to enter the Schengen area or Turkey, it's validity may limit our calculation.</p>

          <p>Our service is provided as is. It is not linked in any way to any official authorities. We will not accept any liability for any negative effects of any nature its use may have.</p>

          <p><strong>Credit</strong></p>
          <p>Logo: Created by Yazmin Alanis, from the Noun Project</p>
        </small>
      </div>

    </div>
  </div>
</div>