<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <!-- <h1>Welcome!</h1>

      <h2>This is the homepage</h2>

      <p>
        Find me in <code>app/views/pages/home.html.erb</code>
      </p>

      <p>
        Thanks to the <a href="https://github.com/thoughtbot/high_voltage">high_voltage</a>
        gem, if you need more static pages (like <code>/contact</code> or <code>/about-us</code>),
        just create a file in the <code>app/views/pages</code> folder, the route will be automatically
        available without you adding any controller or touching the <code>config/routes.rb</code> file!
      </p> -->


      Turkey time is: <%= Time.now %><span id="current_tk_dt"></span>

      <form action="fill" method="post">
        <div class="form-group">
          Are you in Turkey right now?
          <div class="radio">
            <label>
              <input type="radio" name="radio_inside" id="in_turkey" value="Yes" checked>Yes
            </label>
            <label>
              <input type="radio" name="radio_inside" id="not_in_turkey" value="No">No
            </label>
          </div>
        </div>
        <div class="form-group" id="inside_last_entry">
          <label for="last_entry">Latest Entry:</label>
          <input type="text" name="last_entry" id="period_last_entry" class="first_day form-control">
        </div>
      </form>

      <form action="old_stays" method="post">
        <div class="form-group" id="inside_last_entry">
          <label for="last_entry">All your Stays since <%= Date.today - 179 %> included</label>
          <span class="text-muted">If you where in Turkey on <%= Date.today - 179 %> please enter this stay as well.</span>
          <input type="text" name="last_entry" class="first_day form-control">
          <input type="text" name="last_entry" class="last_day form-control">
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </form>

      <!-- All Stays -->
      <% if user_signed_in? %>
        <h4>All your stays</h4>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>First day</th>
              <th>Last day</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% current_user.periods.each do |p| %>
              <tr>
                <td><%= p.first_day %></td>
                <td><%= p.last_day %></td>
                <td><%= link_to 'Show', p %></td>
                <td><%= link_to 'Edit', edit_period_path(p) %></td>
                <td><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>