<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>Welcome!</h1>

      <h2>This is the homepage</h2>

      <p>
        Find me in <code>app/views/pages/home.html.erb</code>
      </p>

      <p>
        Thanks to the <a href="https://github.com/thoughtbot/high_voltage">high_voltage</a>
        gem, if you need more static pages (like <code>/contact</code> or <code>/about-us</code>),
        just create a file in the <code>app/views/pages</code> folder, the route will be automatically
        available without you adding any controller or touching the <code>config/routes.rb</code> file!
      </p>



    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-sm-8 col-sm-offset-2 col-xs-offset-1">


      <h4>Turkey Clock: <%= Time.zone.now.strftime("%B %d, %Y - %H:%M") %></h4>

        <!-- User is in? -->
        <form action="">
          <div class="form-group">
            <div class="checkbox">
            <strong>Are you in Turkey right now?</strong>
              <label>
                <input type="checkbox" name="check_inside" id="in_turkey" value="Yes" checked>Yes
              </label>
            </div>
          </div>
          <div class="form-group" id="inside_last_entry">
            <label for="last_entry">Latest Entry:</label>
            <input type="text" name="last_entry" id="user_last_entry" class="first_day form-control">
          </div>
          <button type="submit" class="btn btn-success">Save</button>
        </form>

        <!-- User is in? -->

        <!-- Been there before? -->
        <div class="form-group">
          <div class="checkbox">
          <strong>Did you do other stays in Turkey since <%= (Date.today - 179).strftime("%B %d, %Y") %> included?</strong>
            <label>
              <input type="checkbox" name="check_previous" id="has_previous_stays" value="Yes">Yes
            </label>
          </div>
        </div>
        <!-- Been there before? -->

        <!-- All previous stays -->
        <table class="table tablebordered table-condensed">
          <thead>
            <tr>
              <td>Entry Date</td>
              <td>Exit Date</td>
              <td>Number of Days</td>
            </tr>
          </thead>
          <tbody>
            <% current_or_guest_user.periods.each do |p| %>
              <tr>
                <td><%= p.first_day.strftime("%B %d, %Y") %></td>
                <td><%= p.last_day.strftime("%B %d, %Y") %></td>
                <td><%= (p.last_day - p.first_day).to_i %></td>
                <td><%= link_to edit_period_path(p), class: "btn btn-primary" do %><i class="fa fa-pencil"></i><% end %> <%= link_to p, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %><i class="fa fa-trash"></i><% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= render "periods/period_form" %>
        <!-- All previous stays -->

        <br>
        time spent: <%#= current_or_guest_user.time_spent(Date.today) %>
        <br>
        remaining time: <%#= current_or_guest_user.remaining_time %>
        <br>
        You must leave on <%#= current_or_guest_user.latest_exit %> or before
        <br>

    </div>
  </div>
</div>